#folder {
  width: 200px;
  overflow:auto;
}

#media_folder_table {
  clear: both;
  margin-top: 15px;
}

#media_folder_table td {
  vertical-align: top;
}

#media_folder_table .media-list-thumbnails{
  overflow:auto;
}

#folder ul.hidden {
  display: none;
}

#categories-hierarchy {
  background-color: #ccc;
  border: 1px solid #000;
  height: 500px;
  padding: 5px;
  width: 300px;
}

#folder li {
  margin-top: 4px;
}

#folder ul {
  list-style-type: none;
  margin: 2px 2px 2px 5px;
  padding: 0px;
}

#folder ul ul {
  list-style-type: none;
  margin: 2px 2px 2px 29px;
  padding: 0px;
}

#folder .folder {
  background-image: url(../images/icons/folder.png);
  float: left;
  margin-right: 6px;
  width: 24px;
}

#folder .folder-children-toggle {
  background-image: url(../images/icons/folder-parent.png);
  cursor: pointer;
  float: left;
  margin-right: 6px;
  width: 24px;
}

#folder div.empty{
  background-image: url(../images/icons/folder-empty.png);
}

#folder div.emptyParent{
  background-image: url(../images/icons/folder-parent-empty.png);
}

#folder div.emptyFolder {
  color: #999;
}

#folder .folder_load:hover {
  cursor: pointer;
}

#folder .ui-state-highlight {
  background-color: #ffff99;
}

#folder .dragOverDrop {
  background-color: orange;
  font-weight: bold;
}

#folder .selectedFolder {
  font-weight: bold;
}

#media-thumb-list .media-item .label-wrapper,
#media-basket-list .media-item .label-wrapper {
  margin-left: 0px;
}


#media_browser_plus_pages .media_paging_page {
  float: left;
  padding: 0px 8px;
  border: 1px solid;
  border-color: #fff;
}

#media_browser_plus_pages .media_paging_page:hover {
  cursor: pointer;
  background-color: #ccc;
  border-color: #999;
}

#media_browser_plus_pages .active_page {
  font-weight: bold;
  background-color: #fff;
  border-color: #999;
  margin-right: 1px;
}

#media_browser_plus_pages .active_page:hover {
  cursor: default;
  background-color: #fff;
}

#media_paging_table .media_paging_page {
  float: left;
}

#media_paging_table .media_paging_page {
  padding: 2px 8px;
  border: 1px solid;
  border-color: #fff;
}

#media_paging_table .media_paging_page:hover {
  cursor: pointer;
  background-color: #ccc;
  border-color: #999;
}

#media_paging_table .active_page {
  font-weight: bold;
  background-color: #fff;
  border-color: #999;
  margin-right: 1px;
}

#media_paging_table .active_page:hover {
  cursor: default;
  background-color: #fff;
}

#media_paging_table .active_page a:hover {
  cursor: default;
  text-decoration: none;
}

#media-thumb-list .media-item,
#media-basket-list .media-item{
  padding: 16px 16px 4px 16px;
}

input.hidden {
  display:none;
}

#navlist {
  width: 100%;
  height: 180px;
  overflow: auto;
}

ul#navlist {
  white-space: nowrap;
  margin: 0px;
}
#navlist img {
  width: 120px;
  height: 120px;
  padding: 10px;
  border: 1px solid #cccccc;
}

#navlist div {
  width: 150px;
  height: 150px;
  display: inline;
}

#navlist div.media-select {
  padding: 10px;
}

#navlist div.selected img {
  background-color: #F4ECC7;
}

#navlist li {
  display: inline;
  list-style-type: none;
}

#media-basket-list{
  list-style-type: none;
  overflow: auto;
  height: 165px;
}
#media_browser_plus_selection_panel {
  text-align: right;
}

#media_browser_plus_selection_panel a {
  margin-right: 20px;
}

#media_browser_plus_basket_panel a {
  margin-right: 20px;
}

#media_browser_plus_basket_panel {
  text-align: right;
}

#edit-column-three {
  clear: both;
}

#media_browser_plus_preview_panel {
  text-align: center;
}

#mediaBrowser {
  width: 90%;
}


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/