.media-filter-select {
  height: 100px;
  width: 200px;
} 

#folder {
  height: auto;
  width: 200px;
}

.media_column {
  vertical-align: top;
}

#media_folder_table {
  clear: both;
  margin-top: 15px;
}

#folder ul.hidden {
  display: none;
}

#categories-hierarchy {
  background-color: #ccc;
  border: 1px solid #000;
  height: 500px;
  padding: 5px;
  width: 300px;
}

#folder li {
  margin-top: 4px;
}

#folder ul {
  list-style-type: none;
  margin: 2px 2px 2px 5px;
  padding: 0px;
}

#folder ul ul {
  list-style-type: none;
  margin: 2px 2px 2px 29px;
  padding: 0px;
}

#folder .folder {
  background-image: url(../images/icons/folder.png);
  float: left;
  margin-right: 6px;
  width: 24px;
}

#folder .fparent {
  background-image: url(../images/icons/folder-parent.png);
  cursor: pointer;
  float: left;
  margin-right: 6px;
  width: 24px;
}

#folder .folder_load:hover {
  cursor: pointer;
}

#folder .ui-state-highlight {
  background-color: #ffff99;
}

#folder .dragOverDrop {
  background-color: orange;
  font-weight: bold;
}

#folder .selectedFolder {
  font-weight: bold;
}

.media-item .label-wrapper {
  margin-left: 0;
}
/**
.item-list .media-display-switch{
  position: relative; top: -48px;
}**/